// ------------------------------------COLORS

$color-primary: #3ABB8D;
$color-primary-light :#75C8AA;
$color-primary-x-light: #c7E9DD;

$color-secondary: #313C5A;
$color-secondary-light: #41569C;

$color-red: #D05868;
$color-blue: #3E9CD0;

$color-white: #FFF;
$color-black: #000;

$color-grey-100: #F1F1F1;
$color-grey-300: #DADEE8;
$color-grey-500: #AAA;
$color-grey-550: #999;
$color-grey-600: #666;
$color-grey-900: #222;

$color-font: $color-grey-600;
$color-link: $color-primary;

// ------------------------------------FONTS

$font-family: "Nunito Sans", sans-serif;

$font-regular: 400;
$font-semi-bold: 600;
$font-bold: 700;

$font-size-xs: 1rem;
$font-size-lg: 1.6rem;
$font-size-default: 1.4rem;
$font-size-sm: 1.2rem;

$h1: 2.4rem;
$h2: 2.2rem;
$h3: 2rem;
$h4: 1.8rem;
$h5: 1.6rem;
$h6: $font-size-default;

// ------------------------------------FONT-ICONS
// Font Icons : families
$font-family-icon: "icomoon";

// Font Icons : Spacing left & right
$icon-spacing : 0.5rem;
$bp-600 : calc(600em/16);
//
// $icon-spacing-lg: calc($icon-spacing*2);
$icon-spacing-lg: $icon-spacing *2;

// Font Icons : Sizes
$icon-size-lg: 1.6rem;
$icon-size-xl: 1.8rem;
$icon-size-xxl: 2.4rem;

// ------------------------------------ MEDIA QUERIES
// Media Queries : Min-width
$media-lg : 120rem;
$media-md : 900rem;
$media-sm : 600rem;
$media-xs : 300rem;

// Media Queries : Max-width
$media-lg-max: $media-lg - 1;
$media-md-max: $media-md - 1;
$media-sm-max: $media-sm - 1;

// ------------------------------------ GRID
// Grid : Column Count
$grid-column-count: 12;

//Grid : Gutters
$grid-gutter: 7.5px;
$grid-gutter-sm: $grid-gutter / 2;

$grid-gutter-lg: $grid-gutter * 2;

// ------------------------------------ SPACING
$spacing: 1rem;
$spacing-2: $spacing * 2;
$spacing-3: $spacing * 3;
$spacing-half: $spacing / 2;