@use "../abstracts" as *;

body
{
    font-family: $font-family;
    font-weight: $font-regular;
    color: $color-font;
    line-height: 1.5;
    font-size: $font-size-default;
}

::selection
{
    background-color: $color-primary;
    color: $color-white;

}